*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --baige: #f4f1de;
  --coral: #e07a5f;
  --blue: #3d405b;
  --green: #81b29a;
  --tan: #f2cc8f;
}
.jumbotron {
  background-color: var(--green);
  color: black;
  text-align: center;
  border-bottom: 5px dotted var(--blue);
}

#rightNow {
  color: var(--blue);
  font-size: ;
}
.currentDate {
  color: var(--blue);
  font-size: 25px;
}

.row {
  display: flex;
  justify-items: baseline;
  align-items: center;
  background-color: var(--baige);
}

.hour {
  color: black;
}

.input {
  background-color: salmon;
}

.appointment {
  background-color: gray;
}

.textArea {
  width: 100%;
  color: black;
  background-color: lightgray;
  display: inline;
}

.saveBtnContainer {
  background-color: var(--coral);
}

.saveBtn {
  background-color: red;
  height: 100%;
  /* display: flex;
  align-content: center;
  justify-content: center; */
}
